/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.monospace {
	white-space: pre;
	font-family: monospace, monospace;
}

.time-header {
	background-color: #777777;
}

.red {
	background-color: #FF0000;
}
